
#blog h3, h4{
    text-align: center;
    font-size: 10px;
    color: #d8bbbbc0;
   
}
#blog{
background-image: url(../gatos/fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
color: #fff;

}

#blog .contenedor{
display: flex;
justify-content: center;
flex-wrap: wrap;
background:#333 ;
border-radius: 12px;

}

#blog article{
    margin: 15px;
}

#blog img{
width: 100%;
max-width: 280px;
border-radius: 12px;
}
